@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="container text-center mt-5">
    <h2>About BayKan</h2>
    <p>BayKan is a premium fashion brand offering exclusive collections of high-end shoes, perfumes, and bags. Our products are crafted for elegance, sophistication, and style.</p>
</div>
