@model List<baykan.Models.Product>


@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<html>
<body>

    <section id="home">
        <div class="container">
            <h5>One Stop For Your Premium Looks</h5>
            <h1>YEAR END <span>SALE</span></h1>
            <h2>UP TO 30% OFF</h2>
            @*<button id="shop-now-button" data-bs-toggle="modal" data-bs-target="#loginModal">SHOP NOW</button>*@
            <button id="shop-now-button">SHOP NOW</button>

        </div>
    </section>

    <!-- Featured Products Section -->

    <section id="featured" class="my-5 pb-5">
        <div class="container text-center mt-5 py-5">
            <h3>Featured Products</h3>
            <hr class="mx-auto">
            <p>Explore our exclusive collection of in-demand premium products</p>
        </div>

        <div class="row mx-auto container">

            @foreach (var product in Model)
            {
                @Html.Partial("ProductCard", product)
            }
        </div>
    </section>

</body>
</html>

<style>
    /* Hero Section */
    #home {
        background: url('/Content/Images/home-background.png') no-repeat center center;
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        padding-left: 8%;
        position: relative;
    }

        #home h1 {
            font-family: 'Playfair Display', serif;
            font-size: 3.5rem;
            color: #1b0f03;
        }

        #home h2 {
            font-family: 'Playfair Display', serif;
            font-size: 1.8rem;
            font-weight: 400;
        }

        #home h5 {
            font-size: 1.2rem;
            color: #754e27;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: 'Inter', sans-serif;
        }

        #home span {
            color: #674324;
        }

    #shop-now-button {
        background-color: #7f5c3dde;
        color: white;
        border: none;
        padding: 12px 25px;
        font-size: 1rem;
        font-weight: lighter;
        margin-top: 10px;
        cursor: pointer;
        transition: 0.3s;
        text-transform: uppercase;
        border-radius: 3px;
    }

        #shop-now-button:hover {
            background-color: #b77c4891;
        }
</style>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Ensure jQuery is included -->
