<footer class="mt-5 py-5">
    <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
            <img class="h-25 w-50 m-3" src="~/Content/Images/logo.png" alt="">
            <p class="pt-3">
                Welcome to Bae's Kankan, your ultimate destination for premium fashion and accessories.
                Explore our exclusive collections and enjoy the best deals on top brands.
            </p>
        </div>
        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
            <h5 class="pb-2"> Featured </h5>
            <ul class="text-uppercase list-unstyled">
                <li><a href='#'>Dresses</a></li>
                <li><a href='#'>Handbag</a></li>
                <li><a href='#'>Shoes</a></li>
                <li><a href='#'>Accessories</a></li>
                <li><a href='#'>Jewelry</a></li>
                <li><a href='#'>Perfumes</a></li>
                <li><a href='#'>New Arrivals</a></li>
            </ul>
        </div>

        <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
            <h5 class="pb-2"> Contact Us </h5>
            <div>
                <h6 class="text-uppercase"> Address</h6>
                <p> 123 Street Name, City, Country</p>
            </div>
            <div>
                <h6 class="text-uppercase">Phone</h6>
                <p> (123)-456-7890</p>
            </div>
            <div>
                <h6 class="text-uppercase">Email</h6>
                <p> name@domain.com</p>
            </div>
        </div>

        <div class="footer-one col-lg-3 col-md-6 col-12">
            <h5 class="pb-2"> Instagram </h5>
            <div class="row">
                <img class="img-fluid w-25 h-100 m-2" src="~/Content/Images/insta/1.png" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="~/Content/Images/insta/2.png" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="~/Content/Images/insta/3.png" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="~/Content/Images/insta/4.png" alt="">
                <img class="img-fluid w-25 h-100 m-2" src="~/Content/Images/insta/5.png" alt="">
            </div>
        </div>

        <div class="copyright mt-5">
            <div class="row container mx-auto">
                <div class="col-lg-3 col-md-6 col-12 mb-4">
                    <img src="~/Content/Images/payment.png" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-12 text-nowrap mb-2"></div>
                <p>Bae's Kankan eCommerce © 2025. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
